#login,
#register,
#MyLink,
#passwordreset,
#passwordResetConfirm,
#contact {
  .container-fluid {
    height: 100vh;
  }
  input {
    height: 46px;
    border: none;
    border-radius: 5px;
    background-color: #efefef;
  }
  textarea {
    padding-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #efefef;
  }

  .togglePassword,
  .forgotPassword {
    cursor: pointer;
    color: map-get($theme-colors, "dark");
    text-decoration: none;
    &:hover {
      color: map-get($theme-colors, "primary");
    }
  }
  .login-button {
    text-decoration: none;
  }
}


#login,
#register {
  background: white;
  @media screen and (min-width: map-get($break-points, 'medium')) {
    background: url('../../assets/img/features-background.png') center center no-repeat;
    background-size: cover; 
  }
}
.logo {
  max-width: 200px;
}