
#dashboard {
  .card,
  #chart {
    border-radius: 3px;
  }
}

#dashboard-table {
  max-height: 500px;
  overflow-y: scroll;
  .table td {
    vertical-align: middle !important;
  }
  .table th {
    border: unset;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.longlink-overflow {
  width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: right;
}

.heatmap-container {
  overflow-x: scroll;
}

.react-calendar-heatmap {
  min-width: 900px;
  .color-empty { fill: rgb(209, 209, 209) !important }
  .color-scale-1 { fill: #d4f4ff; }
  .color-scale-2 { fill: #6edbff; }
  .color-scale-3 { fill: #00beff; }
  .color-scale-4 { fill: #007399; }
  .color-scale-large { fill: #00475f; }

  .color-empty,
  .color-scale-1,
  .color-scale-2,
  .color-scale-3,
  .color-scale-4,
  .color-scale-large {
    rx: 10;
    ry: 10;
  }
}

.graph-width {
  width: auto;
  @media screen and (min-width: map-get($break-points, 'medium')) {
    width: 100%;
  }
}

.favicon-image {
  width: 20px;
  height: 20px;
  object-fit: cover !important;
}