.avatar {
  width: 50px;
  height: 50px;
  object-fit: cover !important;
}
.nav-item a svg,
.nav-item a button svg {
  font-size: 20px;
  &:hover {
    color: map-get($theme-colors, "primary");
  }
}

.item-icons a {
  text-decoration: none;
  color: map-get($theme-colors, "dark");
  &:hover {
    color: map-get($theme-colors, "primary");
  }
}

.custom-toggler {
  &.navbar-toggler {
    &:focus,
    &:active {
      outline: none;
      box-shadow: none;
    }
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
  }
}

.navbar {    
  z-index: 999;
  background: white !important;
  @media screen and (min-width: 992px) {
    background: transparent !important;
  }
}

.navbar-collapse {
  text-align: center;
  .nav-link {
    color: black !important;
    @media screen and (min-width: 992px) {
      color: white !important;
    }
  }
}

.dropdown-toggle::after {
  display: none !important;
}