body {
  font-family: 'Roboto', sans-serif !important;
}

.shrincc-wrapper {
  background-color: white;
  .progress {
    height: 5px ;
  }
}

.cursor-pointer {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

svg {
  pointer-events: none;
}