.masthead {
  padding: 20px 75px 0px 75px;
  
  @media screen and (min-width: map-get($break-points, 'medium')) {
    padding: 40px 75px 0px 75px;
  }
  @media screen and (min-width: map-get($break-points, 'large')) {
    padding: 60px 75px 0px 75px;
  }
  @media screen and (min-width: map-get($break-points, 'extra-large')) {
    padding: 80px 75px 0px 75px;
  }
  .landing-background {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 400px;
    width: 100%;
    @media screen and (min-width: map-get($break-points, 'medium')) {
      width: 80%;
      text-align: center;
    }
    @media screen and (min-width: map-get($break-points, 'large')) {
      width: 70%;
    }
    @media screen and (min-width: map-get($break-points, 'extra-large')) {
      width: 50%;
    }
  }
  
  .landing-text {
    width: 100%;
    height: 50%;
    text-align: center;
    @media screen and (min-width: map-get($break-points, 'medium')) {
      width: 80%;
      text-align: left;
    }
    @media screen and (min-width: map-get($break-points, 'large')) {
      width: 70%;
    }
    @media screen and (min-width: map-get($break-points, 'extra-large')) {
      width: 50%;
    }
  }
}

.graph-examples {
  width: 400px;
}

.features {
  margin: 0 auto;
  width: 50%;
}
.graph-examples {
  margin: 0 auto;
  width: 75%;
}