.ct-grid {
  stroke: rgba(0, 0, 0, 0.05);
  stroke-width: 1px;
  stroke-dasharray: 0px;
}

.ct-label {
  font-size: 10px;
}
.ct-series-a.ct-series .ct-line {
  stroke: url(#gradient-a) !important;
  stroke-width: 4px;
}
.ct-series-a .ct-bar {
  stroke: #01BFD9;
  stroke-width: 20px;
}

.ct-series-a .ct-bar {
  stroke: #01BFD9 !important;
  stroke-width: 20px;
}

.line-chart .ct-series-a .ct-point {
  fill: transparent;
  stroke: transparent;
  stroke-width: 10;
  &:hover{
    fill: #fff;
    stroke-width: 10;
    stroke: #01BFD9;
  }
}

.line-chart span.ct-label.ct-horizontal.ct-end {
  padding-top: 5px;
}

.bar-chart span.ct-label.ct-horizontal.ct-end {
  padding-top: 5px;
}

.line-chart,
.bar-chart {
  -webkit-filter: drop-shadow(5px 5px 4px rgba(0, 190, 255, .5));
  filter: drop-shadow(5px 5px 4px rgba(0, 190, 255, .5));
}

// Heatmap
.react-calendar-heatmap text.react-calendar-heatmap-month-label {
  font-size: 6px;
  fill: #01BFD9;
}
